# ğŸ“– Chapter 01 â€” Data Exploration

## ğŸ¯ Objectives

In this chapter, we will explore the Taiwan tourism dataset from the government open data platform.

We will analyze the data structure, check data quality, and determine which fields are suitable for RAG implementation.

## ğŸ“¥ Step 01 â€” Load and Inspect Data
Load the scenic spot JSON file and convert it to a pandas DataFrame for easier analysis.

In [61]:
import pandas as pd
from src.config import RAW_DATA_DIR

In [12]:
import json

with open(RAW_DATA_DIR / "scenic_spot.json", "r", encoding="utf-8-sig") as f:
    data = json.load(f)

attraction = data["XML_Head"]["Infos"]["Info"]
df = pd.DataFrame(attraction)

In [14]:
df.shape

(5086, 35)

## ğŸ” Step 02 â€” Data Quality Check
Check for missing values, duplicates, and data distribution across different cities.

In [19]:
df.isna().sum()

Id                   0
Name                 0
Zone               271
Toldescribe          0
Description         23
Tel                  0
Add                455
Zipcode              0
Region              75
Town                75
Travellinginfo      16
Opentime             0
Picture1             3
Picdescribe1        23
Picture2           271
Picdescribe2       271
Picture3           271
Picdescribe3       271
Map                216
Gov                 23
Px                   0
Py                   0
Orgclass           216
Class1               0
Class2             216
Class3             216
Level              216
Website            193
Parkinginfo        216
Parkinginfo_Px    5084
Parkinginfo_Py    5084
Ticketinfo         216
Remarks            216
Keyword            271
Changetime          23
dtype: int64

In [20]:
df.duplicated().sum()

np.int64(0)

In [17]:
df.columns

Index(['Id', 'Name', 'Zone', 'Toldescribe', 'Description', 'Tel', 'Add',
       'Zipcode', 'Region', 'Town', 'Travellinginfo', 'Opentime', 'Picture1',
       'Picdescribe1', 'Picture2', 'Picdescribe2', 'Picture3', 'Picdescribe3',
       'Map', 'Gov', 'Px', 'Py', 'Orgclass', 'Class1', 'Class2', 'Class3',
       'Level', 'Website', 'Parkinginfo', 'Parkinginfo_Px', 'Parkinginfo_Py',
       'Ticketinfo', 'Remarks', 'Keyword', 'Changetime'],
      dtype='object')

In [ ]:
region_rank = (
    df.groupby("Region")["Id"]
    .count()
    .reset_index()
    .rename(columns={"Id": "Count"})
    .sort_values("Count", ascending=False)
    .reset_index(drop=True)
)  # Drop the old index column

region_rank.index = range(1, len(region_rank) + 1)
region_rank

   Region  Count
1     æ–°åŒ—å¸‚    577
2     è‡ºåŒ—å¸‚    449
3     è‡ºä¸­å¸‚    367
4     å½°åŒ–ç¸£    344
5     æ¾æ¹–ç¸£    309
6     å±æ±ç¸£    297
7     é«˜é›„å¸‚    294
8     å—æŠ•ç¸£    276
9     é›²æ—ç¸£    256
10    æ¡ƒåœ’å¸‚    249
11    è‡ºæ±ç¸£    230
12    æ–°ç«¹ç¸£    203
13    é‡‘é–€ç¸£    201
14    è‹—æ —ç¸£    180
15    å˜‰ç¾©ç¸£    173
16    å®œè˜­ç¸£    149
17    èŠ±è“®ç¸£    146
18    æ–°ç«¹å¸‚     93
19    é€£æ±Ÿç¸£     85
20    å˜‰ç¾©å¸‚     71
21    è‡ºå—å¸‚     51
22    åŸºéš†å¸‚     11

## ğŸ“ Step 03 â€” Text Field Analysis
Identify text fields suitable for semantic search and analyze their content-length distributions.

In [40]:
df["Description"].head()

0    å·§å…‹åŠ›å…±å’Œåœ‹æ˜¯ä¸€åº§ä»¥å·§å…‹åŠ›ç‚ºä¸»é¡Œçš„è§€å…‰å·¥å» ï¼Œå»ºç¯‰è¨­è¨ˆã€é¤¨å…§ä¸»é¡Œè¨­è¨ˆçš†ä»¥å·§å…‹åŠ›ç‚ºä¸»é¡Œï¼Œé€™è£¡ä¹Ÿæ...
1    æ—å£é…’å» ç‚ºåŒ—éƒ¨åœ°å€ç”¢èƒ½æœ€å¤§ã€è¨­å‚™æœ€ç¾ä»£åŒ–çš„æ¸…é…’ã€ç´…éº´è‘¡è„é…’ç”Ÿç”¢å·¥å» ã€‚å» å…§æœ‰ç”¢å“æ¨å»£ä¸­å¿ƒï¼Œé–‹æ”¾...
2    é€™æ£Ÿå»ºç¯‰ä¹ƒç‚ºé‚±è‰¯åŠŸç¥–åï¼Œä½æ–¼é‡‘åŸé®æµ¯æ±Ÿè¡—ä¸­æ®µï¼Œå±‹ä¸­å°šå­˜æœ‰æ–¹å½¢éŠ…é¡ä¸€é¢ï¼Œå¦æœ‰é›•é¾è–æ—¨çŸ³äºŒå¡Šï¼Œé«˜...
3    é™³è©©åŸæ´‹æ¨“ç‚ºæ¸…æœæœ«å¹´(1903)é‡‘é–€é«˜å‘äººé™³è©©åŸå‰å¾€æ–°åŠ å¡ã€å°å°¼ç¶“å•†è‡´å¯Œï¼Œæ–¼æ°‘åœ‹21å¹´(19...
4    é‡‘é–€æœ±å­ç¥ ï¼Œç«‹æ–¼æ¸…åº·ç†™äºŒåå…­å¹´ï¼ˆ1687å¹´ï¼‰ï¼Œè¨­æ–¼æµ¯æ±Ÿæ›¸é™¢å…§ã€‚ä¹¾éš†ä¸‰åäº”å¹´ï¼ˆ1770å¹´ï¼‰ï¼Œé€š...
Name: Description, dtype: object

In [42]:
df["Description"].str.len().describe()

count    5063.000000
mean      108.662651
std       120.373077
min         0.000000
25%         0.000000
50%        63.000000
75%       170.000000
max       400.000000
Name: Description, dtype: float64

## âœ… Step 04 â€” RAG Field Selection
Decide which fields to use for RAG and design the document format for vector database storage.

In [45]:
df[["Name", "Description", "Add", "Opentime", "Ticketinfo"]].head()

,Name,Description,Add,Opentime,Ticketinfo
0,å®äºé£Ÿå“å·§å…‹åŠ›è§€å…‰å·¥å»,å·§å…‹åŠ›å…±å’Œåœ‹æ˜¯ä¸€åº§ä»¥å·§å…‹åŠ›ç‚ºä¸»é¡Œçš„è§€å…‰å·¥å» ï¼Œå»ºç¯‰è¨­è¨ˆã€é¤¨å…§ä¸»é¡Œè¨­è¨ˆçš†ä»¥å·§å…‹åŠ›ç‚ºä¸»é¡Œï¼Œé€™è£¡ä¹Ÿæ...,æ¡ƒåœ’ç¸£å…«å¾·å¸‚å»ºåœ‹è·¯386è™Ÿ,,æ”¶è²»æ–¹å¼è«‹é›»æ´½
1,è‡ºç£è¸é…’(è‚¡)å…¬å¸æ—å£è§€å…‰é…’å»,æ—å£é…’å» ç‚ºåŒ—éƒ¨åœ°å€ç”¢èƒ½æœ€å¤§ã€è¨­å‚™æœ€ç¾ä»£åŒ–çš„æ¸…é…’ã€ç´…éº´è‘¡è„é…’ç”Ÿç”¢å·¥å» ã€‚å» å…§æœ‰ç”¢å“æ¨å»£ä¸­å¿ƒï¼Œé–‹æ”¾...,æ¡ƒåœ’ç¸£é¾œå±±é„‰æ–‡åŒ–ä¸€è·¯55è™Ÿ,,æ”¶è²»æ–¹å¼è«‹é›»æ´½
2,é‚±è‰¯åŠŸå¤å,é€™æ£Ÿå»ºç¯‰ä¹ƒç‚ºé‚±è‰¯åŠŸç¥–åï¼Œä½æ–¼é‡‘åŸé®æµ¯æ±Ÿè¡—ä¸­æ®µï¼Œå±‹ä¸­å°šå­˜æœ‰æ–¹å½¢éŠ…é¡ä¸€é¢ï¼Œå¦æœ‰é›•é¾è–æ—¨çŸ³äºŒå¡Šï¼Œé«˜...,é‡‘é–€ç¸£893é‡‘åŸé®æµ¯æ±Ÿè¡—27è™Ÿ,å…¨å¤©,å…è²»
3,é™³è©©åŸæ´‹æ¨“,é™³è©©åŸæ´‹æ¨“ç‚ºæ¸…æœæœ«å¹´(1903)é‡‘é–€é«˜å‘äººé™³è©©åŸå‰å¾€æ–°åŠ å¡ã€å°å°¼ç¶“å•†è‡´å¯Œï¼Œæ–¼æ°‘åœ‹21å¹´(19...,é‡‘é–€ç¸£893é‡‘åŸé®ç æµ¦æ±è·¯44è™Ÿ,æœªé–‹æ”¾,å…è²»
4,æœ±å­ç¥,é‡‘é–€æœ±å­ç¥ ï¼Œç«‹æ–¼æ¸…åº·ç†™äºŒåå…­å¹´ï¼ˆ1687å¹´ï¼‰ï¼Œè¨­æ–¼æµ¯æ±Ÿæ›¸é™¢å…§ã€‚ä¹¾éš†ä¸‰åäº”å¹´ï¼ˆ1770å¹´ï¼‰ï¼Œé€š...,é‡‘é–€ç¸£893é‡‘åŸé®ç åŸ”åŒ—è·¯36è™Ÿ,æ¯æ—¥08:00-21:00,å…è²»

In [ ]:
# Establish a sample document


def create_document(row):
    # Combine the text columns
    content_parts = [
        f"Name: {row['Name']}",
        f"Region: {row['Region']}",
    ]

    # if column exists, return it, otherwise, return "", and "" is false in if
    if str(row.get("Add", "")).strip():
        content_parts.append(f"Address: {row['Add']}")

    if str(row.get("Description", "")).strip():
        content_parts.append(f"Description: {row['Description']}")

    if str(row.get("Opentime", "")).strip():
        content_parts.append(f"Open_time: {row['Opentime']}")

    if str(row.get("Ticketinfo", "")).strip():  # â† åŠ ä¸Š str()
        content_parts.append(f"Ticket: {row['Ticketinfo']}")

    # Filter the empty
    content = "\n".join([part for part in content_parts if part])

    return {
        "id": row["Id"],
        "content": content,
        "metadata": {
            "name": row["Name"],
            "region": row["Region"],
            "category": row.get("Class1", "Unknown"),
        },
    }

In [64]:
sample = create_document(df.iloc[0])
print(sample["content"])

Name: å®äºé£Ÿå“å·§å…‹åŠ›è§€å…‰å·¥å»
Region: æ¡ƒåœ’å¸‚
Address: æ¡ƒåœ’ç¸£å…«å¾·å¸‚å»ºåœ‹è·¯386è™Ÿ
Description: å·§å…‹åŠ›å…±å’Œåœ‹æ˜¯ä¸€åº§ä»¥å·§å…‹åŠ›ç‚ºä¸»é¡Œçš„è§€å…‰å·¥å» ï¼Œå»ºç¯‰è¨­è¨ˆã€é¤¨å…§ä¸»é¡Œè¨­è¨ˆçš†ä»¥å·§å…‹åŠ›ç‚ºä¸»é¡Œï¼Œé€™è£¡ä¹Ÿæä¾›è±å¯Œçš„å·§å…‹åŠ›ç›¸é—œçŸ¥è­˜ï¼Œäº¦å¯ä»¥DIYå‰µä½œå·§å…‹åŠ›ï¼Œç‚ºä¸€å¯“æ•™æ–¼æ¨‚ã€é©åˆè¦ªå­ä¼‘é–’å¨›æ¨‚çš„çµ•ä½³å»è™•ã€‚
Ticket: æ”¶è²»æ–¹å¼è«‹é›»æ´½